// CSS declarations go here

body
   background url('background_grass_paint_by_vres-d48i0mj.jpg') no-repeat center center fixed
   background-size: cover;

.container
   margin-top: 10px

.loginTemp
   position absolute
   top 20px
   right 20px

.text-danger
   color: rgb(red)

.text-success
   color: rgb(green)

.text-info
   color: rgb(gray)
